:root {
	--background-gradient: linear-gradient(
		to bottom right,
		rgb(185, 65, 65),
		rgb(147, 219, 151)
	);
}

.app {
	text-align: center;
}

.header {
	background: var(--background-gradient);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.container {
	width: 40vh;
	height: 58vh;
	display: flex;
	/* border: 1px solid black; */
	border-radius: 5%;
	background-color: #000000;
	padding: 2vh;
	/* grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr; */
	flex-direction: column;
}

.table {
	justify-content: end;
	align-items: center;
	border-radius: 2vh;
	display: flex;
	width: 40vh;
	height: 100vh;
	color: rgb(255, 255, 255);
	background-color: #000000;
	margin-bottom: 2vh;
	/* padding: 0.5vh; */
}

.button {
	width: 9.2vh;
	height: 9.2vh;
	appearance: none;
	border: 0;
	border-radius: 20px;
	background: #545454;
	color: #fff;
	padding: 8px 16px;
	margin: 1%;
	font-size: 16px;
}

.button:hover {
	/* width: 22%;
	height: 9vh; */
	background: #588ffc;
}

.buttonClear {
	width: 9.2vh;
	height: 9.2vh;
	appearance: none;
	border: 0;
	border-radius: 20px;
	background: #95938e;
	color: #fff;
	padding: 8px 16px;
	margin: 1%;
	font-size: 16px;
}
.buttonClear:hover {
	/* width: 22%;
	height: 9vh; */
	background: #b5b3ae;
}

.buttonPlus {
	width: 9.2vh;
	height: 9.2vh;
	appearance: none;
	border: 0;
	border-radius: 20px;
	background: #209602;
	color: #fff;
	padding: 8px 16px;
	margin: 1%;
	font-size: 16px;
}

.buttonPlus:hover {
	/* width: 22%;
	height: 9vh; */
	background: #28b903;
}

.buttonMinus {
	width: 9.2vh;
	height: 9.2vh;
	appearance: none;
	border: 0;
	border-radius: 20px;
	background: #f40000;
	color: #fff;
	padding: 8px 16px;
	margin: 1%;
	font-size: 16px;
}

.buttonMinus:hover {
	/* width: 22%;
	height: 9vh; */
	background: #fe6666;
}

.buttonEquals {
	width: 9.2vh;
	height: 9.2vh;
	appearance: none;
	border: 0;
	border-radius: 20px;
	background: #e1a42a;
	color: #fff;
	padding: 8px 16px;
	margin: 1%;
	font-size: 16px;
}

.buttonEquals:hover {
	/* width: 22%;
	height: 9vh; */
	background: #ffbb33;
}

.display {
	background-color: #5eaa4d;
}
